# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist
dist-ssr

# Environment variables
.env
.env.*
!.env.example
.dev.vars # Ignore local wrangler variables

# IDE directories
.vscode
.idea

# OSX
.DS_Store
.dev.vars